{% extends "base.twig.html" %}

{% block head %}
<script src="./assets/js/constants.js"></script>
<script src="./assets/js/home.js"></script>
{% endblock %}

{% block content %}
<form method="post" onsubmit="handleSubmit(event)">
   <div class="form-group">
      <label for="targetUrl">Target URL</label>
      <input type="text" placeholder="Ex: https://picocss.com" name="targetUrl" />
      <ul id="targetUrlErrors"></ul>
   </div>
   <div class="form-group">
      <label for="targetElement">Target HTML Element</label>
      <input type="text" placeholder="Ex: img" name="targetElement" />
      <ul id="targetElementErrors"></ul>
   </div>

   <button type="submit" aria-busy="false">Submit</button>
</form>

<article id="resultsCard">
   <details id="requestResults" open hidden>
      <summary>Request Results</summary>
      <ul>
      </ul>
   </details>
   <details id="requestStats" open hidden>
      <summary>General Statistics</summary>
      <ul>
      </ul>
   </details>
   <div id="progress" hidden>
      <a href="#" aria-busy="true">Analysing page, please wait...</a>
   </div>
   <div id="errorMessage">
   </div>
</article>
{% endblock %}